@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1: #E94A3F;
  --color2: #FDF2F1;
  --footer: #111827;
  --texts: #9CA3AF;
  --link: #374151;
  --p: #4B5563;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
--font-mono: 'Courier New', Courier, monospace;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);

}
